.idea/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

build/
dist/
*.spec
installer/output/

boulangerie.db
.github-publish/
tmp/
test-output/
presentations/build/node_modules/
presentations/guide-utilisateur/demo-data/

web-mobile-app/node_modules/
web-mobile-app/dist/
web-mobile-app/.firebase/
